Python
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Jetbrains IDE
.idea/

# MacOS Files
**/.DS_Store
**/.AppleDouble
**/.LSOverride

# Emdat Dataset
data/raw/disasters/emdat_public_2022_12_22_full.xlsx
data/raw/disaster/*

# Processed Datasets (since this also includes emdat)
data/processed/*