Python
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Jetbrains IDE
.idea/

# MacOS Files
**/.DS_Store
**/.AppleDouble
**/.LSOverride

# Emdat Dataset
data/raw/disasters/emdat-22-12-16.xlsx
data/raw/natural-disasters/*

# Processed Datasets (since this also includes emdat)
data/processed/*